@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html.body{
  margin: 0;
  padding: 0;
}



.Hero{
  display: flex;
}

.App {
  text-align: center;
  width: 100vw;
  height: max-content;
  position: absolute;
  top : 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  user-select: none;
}

.AppHeaderH1{
  font-family: 'Noto Serif', serif;
  font-size: 8rem;
  margin: 0;
  padding: 0;
}

.AppHeaderH2{
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.Card{
  border: 1px solid black;
}

.CardDone{
  background-color: black;
  border: 1px solid black;
}


.CardContainer{
  width: calc(100vw*0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

}

.YearContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Year{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.YearP{
  margin: 0;
  padding: 0;
}

.darkModeB{
  background-color: #212226;
}

.darkModeT{
  color: white;
}

.darkCard{
  background-color: #212226;
  border: 1px solid white;
}

.darkCardDone{
  background-color: white;
  border: 1px solid white;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar dark mode */

/* width */


